*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.titulo{
    font-size: 76px
}


.robo-image{
    background-color: red;
    width: 50vw;
    height: 100vh;
}

.page-container{
    display: flex;
}

.login-container{
    background-color: blue;
    width: 50vw;  
     height: 100vh;
     
     /* kit sobrevivencia de centralização */


     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     
}
